__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
*.mo

.env
.env.*
!.env.example
!.env.postgres.example
!.env.pgBouncer.example
!.env.kong.example
!.env.drf.example

.vscode/

*.dockerignore
docker-compose.override.yml
*.pid
*.sock

!/kong/kong.yaml
!/prometheus/prometheus.yml

.cache
pytest_cache/

.DS_Store
*.swp
*~

.idea/
