# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Django
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/
*.mo

# Environment files
.env
.env.*
!.env.example
!.env.postgres.example
!.env.pgBouncer.example
!.env.kong.example
!.env.drf.example

# VS Code
.vscode/

# Docker
*.dockerignore
docker-compose.override.yml
*.pid
*.sock

# Kong
*.yaml

# Prometheus
prometheus.yml

# Pytest
.cache
pytest_cache/

# Mac/Linux
.DS_Store
*.swp
*~

# Others
.idea/
*.log
